body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.intro {
  position: relative; /* this and z-index is important for setting the intro::before. */
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro::before {
  content: ""; /* this is neccessary, pseudo-element won't work otherwise */
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./home-intro.jpg"); /* set the background, single non-repeating image taking the whole assigning space */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(
    0.8
  ); /* lessen the brightness of the background, otherwise white text is barely visible */

  z-index: -1; /* move the pseudo-element behind other content */
}

.intro h1 {
  position: relative; /* add this line */
  z-index: 1; /* move the h1 element above the pseudo-element */
  color: white;
  font-size: 2.5rem;
}
